<script>
$( document ).ready(function() {

	$('#resume_attachment').on('change', function(event) {
		var files = event.target.files;
		var image = files[0]
		// here's the file size
		console.log(image.size);
		var reader = new FileReader();
		reader.onload = function(file) {
		  var img = new Image();
		  console.log(file);
		  img.src = file.target.result;
		  $('#target').html(img);
		}
		reader.readAsDataURL(image);
		console.log(files);
	});


});

</script>

<% if !@resume.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @resume.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @resume, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <div>
		<%= f.label :attachments %>
		<%= f.file_field :attachments, multiple: true %>
	  </div>
	  
	  
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
   
   <div id="target">
</div>